.sample-work {
    background-color: #efefef;
}

.sample {
    display: flex;
    margin: 0 5rem;
    justify-content: space-between;
    height: 55rem;
    overflow: hidden;
}

.slide {
    position: relative;
    background-color: #EFEFEF;
    height: 55rem;
}

.fa-angle-left, .fa-angle-right {
    color: rgba($black, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -4rem;
    cursor: pointer;
}

.fa-angle-left {
    left: 2rem;
}

.fa-angle-right {
    right:2rem;
}


.sample-image {
    flex: 1 1 50%;
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* animation shorthand is not used in order to generate random animations via JS. */
    animation-name: imageRise;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0, 0.39, 1.26);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 999;
    overflow: visible;
}

.image1 {
    background-image: url('./../img/Mockups/1_Desktop.png');
}

.image2 {
    background-image: url('./../img/Mockups/2_Desktop.png');
}

.image3 {
    background-image: url('./../img/Mockups/3_desktop.png');
}

.sample-info {
    flex: 2 3 50%;
    margin-left: 10rem;
    align-self: flex-start;
    margin-top: 7rem;
    line-height: 2.6rem;
}
.work-title {
    font-family: $ff-ss;
    font-weight: $fw-bold;
    font-size: 3.5rem;
    color: $blue;
    margin-bottom: 0;
}

.work-subtitle {
    font-family: $ff-ss;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.work-description{
    font-family: $ff-s;
    margin: 3rem 0;
    max-width: 55ch;
}

.work-link {
    position: relative;
    margin-left: 1.6rem;

    &:before {
        content: '';
        font-family: FontAwesome;
        position: absolute;
        bottom: 0; left: -2.5rem;
    }
}

@keyframes imageRise {
    from {
        opacity: 0;
        transform: translateY(400px);
    }
    to {
        opacity: 1;
        transform: translateT(0);
    }
}