.sample-work {
    background-color: #efefef;
    padding-bottom: 8rem;
}

.sample {
    width: 100%;
    overflow: hidden;
    
}

.slide {
    position: relative;
    height: 100vh;
    background-color: #EFEFEF;
}


.sample-image {
    height: 80vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    // @media screen and (max-width: 576px){
    //     margin: -8rem 0;
    // }
}

.image1, .image2, .image3, .image4, .image5, .image6 {
    background-size: cover;
}

.image5{

    @media screen and (max-width: 576px){
        background-position:right;
    }
}

.filter-on{
    background: rgba($black, 0.85);
    // background: #06beb6;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.75;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
}

.work-title {
    text-align: center;
    font-family: $ff-ss;
    font-weight: $fw-bold;
    font-size: 3.5rem;
    color: $blue;
    margin: 0 auto;
}

.work-subtitle {
    text-align:center;
    font-family: $ff-ss;
}

.work-info {
    width: 50%;
    min-width: 30rem;
    max-width: 50rem;
    background-color: $blue;
    min-height: 20rem;
    padding: 2rem 4rem;
    margin: 0 auto;
    margin-top: 2rem;
    z-index: 999;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
}

.hide {
    display: none;
}

.work-sub {
    opacity: 0.5;
}

.work-desc{
    color: $white;
    font-family: $ff-s;
    margin: 2rem 0;
    line-height: 2.6rem;
}

.work-tools {
    opacity: 0.5;
}

.center {
    margin: 0 auto;
    text-align:center;
}

.work-link {
    position: relative;
    width: 100%;
    color: $white;
    text-decoration: none;
    text-align:center;
    z-index: 999;

    &::visited {
        color: $white;
    }

    &:before {
        content: '';
        font-family: FontAwesome;
        position: absolute;
        bottom: 0; left: -2.5rem;
    }
}
