@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif');

$ff-ss: 'PT Sans', sans-serif;
$ff-s: 'PT Serif', serif;

$fw-norm: 400;
$fw-bold: 700;

.text-header {
    font-family: $ff-ss;
    font-weight: $fw-bold;
    font-size: 5rem;
    color: $red;
    text-align: center;
    margin: 1rem auto;
}

.text-subheader {
    color: $black;
    margin-top: 0;
    margin: 0 1rem;
    padding-bottom: 6rem;
    font-family: $ff-ss;
    font-size: 2rem;
    text-align: center;
}

.emoji {
    margin:0;
    padding: 0;
    font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
}

.inline-link {
    color: $white;
    text-decoration: none;
    border-bottom: 1px solid $white;
}